div {
    width:100px;
    height:100px;
    border: 1px solid red;
    border-radius: 10px;
    display: inline-block;

img{
    border: 10px groove orangered;
    border-radius: 100%;
}

.dog1{
    border: 10px dashed orangered;

}

.dog2{
    border: 10px dotted orangered;

}

.dog3{
    border: 10px double orangered;
}